
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(80, 189, 233);
    color: black;
}

h1, h2 {
    text-align: center;
}

hr {
    border: 1px solid black;
}

#page1, #page1-2, #page1-3, #page1-4 {
    font-size: 30px;
    margin-top: 0px;
}

.text1-p1 {
    display: flex;

    #image1 {
        float: left;
        height: 300px;
    }
}

.text2-p1 {
    display: flex;
    
    #image2 {
        float: left;
        height: 300px;
        margin-right: 20px;
    }
}

.text3-p1 {
    display: flex;
    
    #image3 {
        float: left;
        height: 490px;
        width: 252px;
        margin-right: 20px;
    }
}

.text4-p1 {
    display: flex;

    #image4 {
        float: left;
        height: 400px;
        margin-right: 20px;
    }

    #page1-4 {
        font-size: 34px !important;
    }
}

footer {
    position: static;
    width: 100%;
    text-align: center;
    background-color: rgb(80, 189, 233);

}